*{
    box-sizing: border-box;
    border: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.activeitem
{
    color:blue;
}