{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% if user.is_authenticated %}
<div class = "card p-4">
    <!--  -->
  {% if request.user.is_authenticated %}
  <div id = "users" data-currentuser="{{ request.user }}"></div>
  {% else %}
  <div></div>
  {% endif %}
    <form action="{% url 'create'  %}" method = "post">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-floating">

          <label for="floatingTextarea2">New Post</label>

          <input placeholder="Share a thought" class = "form-control" name = "post_content" type="text" style="height: 100px">
        </div>
        <button class= "btn btn-primary" type="submit">Post</button>
        </div>
   
      </form>
    {% endif %}

</div>
<div data-post-id="{{posts.id}}"></div>

<div class = "p-4 active-post"></div>
  
<div class="pagination">

  
</div>



{% endblock %} 
