{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class = "card p-4">
  
    <form action="{% url 'create'  %}" method = "post">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-floating">

          <label for="floatingTextarea2">New Post</label>

          <input placeholder="Share a thought" class = "form-control" name = "post_content" type="text" style="height: 100px">
        </div>
        <button class= "btn btn-primary" type="submit">Post</button>
        </div>
   
      </form>
    {% endif %}

</div>
        {% for posts in post %}
        <div class="card w-75 mb-3 m-4 ">
          <div class="card-header">
            <h2>{{posts.user}}</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title"> {{posts.text}}</h5>
            <p class="card-text"> Posted {{posts.date}}</p>
            <i class="fa-regular fa-heart"></i> {{posts.count_likes}}
            
          </div>
          <div class="card-footer text-body-secondary">
            Comment
          </div>
        </div>
        
        {% endfor %}
{% endblock %} 