{% extends "network/layout.html" %}
{% load static %}



{% block body %}

<div  class="card text-center" >
    <div class="card-body">
      <h5  class="card-header">{{user_profile}}</h5>
         <nav aria-label="breadcrumb">

        <ol class="breadcrumb">
          
          <li  id = "follower_count"class="breadcrumb-item active">Followers: {{user_profile.count_followers}}</li>
          <li class="breadcrumb-item active">Following: {{user_profile.count_following}}</li>
        </ol>
        {% if user_profile == request.user %}

        {% else %}
      <ol class="nav-item">
        <div id="profile_info" data-user-id = "{{user_profile.id }}"></div>
        <div id="user" data-current-user = "{{ request.user }}" data-current-id = "{{request.user.id}}"></div>
        
          {% csrf_token %}
        
          {% if request.user in user_to_follow_followers %}
          <button  id = "follow_button"  class=" btn btn-primary"  >UnFollow</button>

          {% elif request.user not in user_to_follow_followers %}
          <button  id = "follow_button"  class=" btn btn-primary"  >Follow</button>

          {% endif %}

      </ol>
      {% endif %}

      </nav>
    </div>  
<br>
      {% if user_profile.post is none %}
      <div class="position-relative">

        <div class="mt-5 ml-3 p-2 position-absolute top-50 start-50 translate-middle">This User has no post</div>
      </div>
      
      {% else %}
      <div class="card-title"><h1>{{ user_profile}} Posts:</h1></div>
      <br>
      <br>
      {% for tweet in profile_post %}
      
      <div class="card text-center">

        <div class="card-body">

        <h5 class="card-title">{{tweet.text}}</h5>
        </div>
        <div class="card-footer text-body-secondary">
          {{tweet.date}}  <i class="fa-regular fa-heart"></i> {{tweet.count_likes}}

        </div>
        
      </div>
      
      {% endfor %}
    </div>


{% endif %}
<script src="{% static 'network/index.js' %}"></script>   


{% endblock %}